/* remove spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  
  font-family: Arial, sans-serif;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
  color: white;
  z-index: 2;
}





.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  transition: background 1.5s ease;
}


.logo,
.title,
.tagline {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease;
}



.logo {
  width: 250px;
  margin-bottom: 12px;
}


.title {
  font-size: 50px;
  letter-spacing: 3px;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}


.tagline {
  font-size: 15px;
  
  font-family: 'Playfair Display', serif;
  font-style: italic;
}
/* Get Started Button */
.cta-btn {
  margin-top: 22px;
  padding: 12px 34px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;

  background: linear-gradient(135deg, #00E5FF, #38BDF8);
  color: #001018;
  font-weight: 600;
  letter-spacing: 0.5px;

  box-shadow: 0 0 18px rgba(0,229,255,0.35);
  transition: all 0.3s ease;

  opacity: 0;
  transform: translateY(20px);
}

/* hover effect */
.cta-btn:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 0 28px rgba(0,229,255,0.7);
}
